.sidebar {
    height: 100%;
    width: 165px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    background-color: black;
}

.sidebar a {
    padding: 8px;
    font-size: 24px;
    color: darkgreen;
    display: block;
    text-decoration: none;
}

.sidebar a:hover {
    cursor: pointer;
    opacity: .7;
}

.main {
    margin-left: 150px;
    font-size: 18px;
}
