body {
    background-color: black;
    color: white;
}

header {
    font-weight: bold;
    color: darkgreen;
    font-size: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
