.sidebar {
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    background-color: black;
    list-style-type: none;
}

.sidebar a {
    padding: 8px;
    font-size: 16px;
    color: darkgreen;
    display: block;
    text-decoration: none;
}

.sidebar a:hover {
    cursor: pointer;
    opacity: .7;
}

.content {
    margin-left: 12%;
    padding-left: 20px;
    font-size: 18px;
}
