body {
    background-color: black;
    color: white;
}

.page-header > h2 {
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    font-size: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
